# Dependencies
node_modules/
.pnp
.pnp.js
*postman
postman
# Testing
coverage/
*.log

# Production
dist/
build/
.next/

# Environment
.env
.env*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Database
*.db
*.sqlite
pgdata/
